:root {
  --dark-square-green: #4c946a;
  --light-square-green: #e0ddcc;
}

.chessboard {
  aspect-ratio: 1 / 1;
}

.board rect.dark {
  fill: var(--dark-square-green);
}

.board rect.light {
  fill: var(--light-square-green);
}
