:root {
  --dark-square-green: #4c946a;
  --light-square-green: #e0ddcc;
}

.chessboard {
  aspect-ratio: 1 / 1;
}

.labels {
  font-family: sans-serif;
  font-size: 0.75rem;
  pointer-events: none;
}

/* Label colors for inline labels should be inverse of square color */
.squares .dark,
.labels .light {
  fill: var(--dark-square-green);
}

.squares .light,
.labels .dark {
  fill: var(--light-square-green);
}

.pieces use {
  pointer-events: none;
}

rect.has-piece {
  cursor: grab;
}

.touching-first-square rect {
  cursor: grab;
}

.awaiting-second-touch rect,
.awaiting-second-touch rect.has-piece {
  cursor: pointer;
}
