:host {
  --dark-square-color: #4c946a;
  --light-square-color: #e0ddcc;
  --focus-outline-color: rgba(249 147 56 / 90%);
  --hover-light-square-color: #e3d798;
  --hover-dark-square-color: #3f7b58;
  --move-start-light-square-color: #fadd4c;
  --move-start-dark-square-color: #10b756;
  --kb-move-outline-color: rgba(16 60 35 / 95%);
}

.chessboard {
  width: 100%;
  position: relative;
}

.chessboard--squares {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  /* Prevent native dragging caused if any of the children are "selected". */
  user-select: none;
}

.chessboard--rank-label {
  position: absolute;
  top: 3%;
  left: 4%;
  pointer-events: none;
}

.chessboard--file-label {
  position: absolute;
  bottom: 3%;
  right: 4%;
  pointer-events: none;
}

/* Hide label text from every device except screenreaders. */
.chessboard--square-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  pointer-events: none;
}

[data-square] {
  /* Width of table cell is implicitly 12.5% because row will have
     exactly 8 columns and `table-layout` is fixed. Padding of 12.5% * width
     ensures square aspect ratio. */
  padding: 12.5% 0 0;
  position: relative;
  font-family: sans-serif;
  font-size: 0.7rem;
}

[data-square]:focus {
  outline: none;
  box-shadow: inset 0 0 4px 4px var(--focus-outline-color);
}

[data-square] .chessboard--piece {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

[data-square] .chessboard--piece:not(.is-secondary) {
  z-index: 10;
}

[data-square] .chessboard--piece.is-secondary {
  z-index: 5;
}

[data-square-color="dark"] {
  background-color: var(--dark-square-color);

  /* Label colors for inline labels should be inverse of square color */
  color: var(--light-square-color);
}

[data-square-color="dark"]:hover {
  background-color: var(--hover-dark-square-color);
}

[data-square-color="light"] {
  background-color: var(--light-square-color);
  color: var(--dark-square-color);
}

[data-square-color="light"]:hover {
  background-color: var(--hover-light-square-color);
}

[data-move-state="awaiting-input"] [data-square].has-piece {
  cursor: pointer;
}

[data-move-state="touching-first-square"] [data-square],
[data-move-state="dragging"] [data-square],
[data-move-state="canceling-second-touch"] [data-square] {
  cursor: grab;
}

[data-move-state="awaiting-second-touch"] [data-square],
[data-move-state="moving-piece-kb"] [data-square] {
  cursor: pointer;
}

[data-move-state="moving-piece-kb"] [data-square].move-start:not(:focus) {
  box-shadow: inset 0 0 3px 3px var(--kb-move-outline-color);
}

[data-square-color="light"].move-start,
[data-square-color="light"].move-start:hover {
  background-color: var(--move-start-light-square-color);
}

[data-square-color="dark"].move-start,
[data-square-color="dark"].move-start:hover {
  background-color: var(--move-start-dark-square-color);
}

[data-move-state="dragging"]
  [data-square].move-start
  .chessboard--piece:not(.is-secondary) {
  /* Ensure that the piece appears above most other elements in document. */
  z-index: 9999;
}
