:host {
  /* Square colors */
  --dark-square-color: hsl(145deg 32% 44%);
  --light-square-color: hsl(51deg 24% 84%);

  /* Square colors when in :hover state */
  --hover-dark-square-color: rgb(45 114 73);
  --hover-light-square-color: hsl(50deg 69% 69%);

  /* Square colors when the square is marked as start of move */
  --move-start-dark-square-color: hsl(145deg 84% 39%);
  --move-start-light-square-color: hsl(50deg 95% 64%);

  /* Color of outline when square is marked as start of move */
  --move-start-dark-outline-color: hsl(138deg 85% 53% / 95%);
  --move-start-light-outline-color: hsl(66deg 97% 72% / 95%);

  /* Square highlight colors when the square is an eligible move target */
  --move-eligible-dark-square-highlight-color: hsl(0deg 0% 0%);
  --move-eligible-light-square-highlight-color: hsl(0deg 0% 0%);

  /* Color of outline when square has focus */
  --focus-outline-color: hsl(30deg 94% 55% / 90%);

  /* Outline size properties */
  --outline-blur-radius: 3px;
  --outline-spread-radius: 4px;

  /* Label font properties */
  --label-font-size: 0.7rem;

  /* Radius of marker on move-eligible square */
  --move-eligible-marker-radius: 24%;

  /* Radius of marker on move-eligible square that is occupied */
  --move-eligible-marker-radius-occupied: 82%;

  /* Opacity of ghost piece shown while dragging */
  --ghost-piece-opacity: 0.35;

  /* Rank label placement */
  --rank-label-top-margin: 1%;
  --rank-label-left-margin: 4%;

  /* File label placement */
  --file-label-bottom-margin: 0%;
  --file-label-right-margin: 4%;

  /* z-index of piece while dragging */
  --piece-drag-z-index: 9999;

  display: inline-block;
}

/* Ensure that 'hidden' attribute is respected despite above display override. */
:host([hidden]) {
  display: none;
}

.board {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  /* Prevent native dragging caused if any of the children are "selected". */
  user-select: none;
}

.rank-label {
  position: absolute;
  top: var(--rank-label-top-margin);
  left: var(--rank-label-left-margin);
  pointer-events: none;
}

.file-label {
  position: absolute;
  bottom: var(--file-label-bottom-margin);
  right: var(--file-label-right-margin);
  pointer-events: none;
}

.label {
  /* Hide label text from every device except screenreaders. */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  pointer-events: none;
}

[data-square] {
  /* Width of table cell is implicitly 12.5% because row will have
     exactly 8 columns and `table-layout` is fixed. Padding of 12.5% * width
     ensures square aspect ratio. */
  padding: 12.5% 0 0;
  position: relative;
  font-family: sans-serif;
  font-size: var(--label-font-size);
  background-color: var(--p-square-color);
  color: var(--p-label-color);
}

[data-square]:focus {
  outline: none;
  box-shadow: inset 0 0 var(--outline-blur-radius) var(--outline-spread-radius)
    var(--focus-outline-color);
}

[data-square].move-eligible {
  background: radial-gradient(
    var(--p-move-eligible-highlight-color) var(--move-eligible-marker-radius),
    /* Add pixel offset to boundary to reduce jaggedness. */
      var(--p-square-color) calc(var(--move-eligible-marker-radius) + 1px)
  );
}

[data-square].has-piece.move-eligible,
[data-square].has-content.move-eligible {
  /* Wide circle with transparent interior if square is occupied. */
  background: radial-gradient(
    var(--p-square-color) var(--move-eligible-marker-radius-occupied),
    var(--p-move-eligible-highlight-color)
      calc(var(--move-eligible-marker-radius-occupied) + 1px)
  );
}

[data-square].move-start {
  --p-square-color: var(--p-move-start-square-color);
}

:is([data-board-state="dragging"], [data-board-state="moving-piece-kb"])
  [data-square].move-start:not(:focus) {
  /* Additional outline for active-move-square when dragging or KB-navigating. */
  box-shadow: inset 0 0 var(--outline-blur-radius) var(--outline-spread-radius)
    var(--p-move-start-outline-color);
}

[data-board-state="awaiting-input"] [data-square].moveable {
  cursor: pointer;
}

:is([data-board-state="touching-first-square"], [data-board-state="dragging"], [data-board-state="canceling-second-touch"])
  [data-square] {
  cursor: grab;
}

:is([data-board-state="awaiting-second-touch"], [data-board-state="moving-piece-kb"])
  [data-square] {
  cursor: pointer;
}

[data-board-state] [data-square].moveable:hover:not(.move-start),
:is([data-board-state="dragging"], [data-board-state="awaiting-second-touch"], [data-board-state="moving-piece-kb"])
  [data-square]:hover:not(.move-start) {
  /* Only change hover if board is interactive, i.e. has [data-board-state]. */
  --p-square-color: var(--p-hover-square-color);
}

/**************************
 * Square color overrides *
 **************************/

[data-square-color="dark"] {
  --p-square-color: var(--dark-square-color);

  /* Label colors for inline labels should be inverse of square color */
  --p-label-color: var(--light-square-color);
  --p-hover-square-color: var(--hover-dark-square-color);
  --p-move-eligible-highlight-color: var(
    --move-eligible-dark-square-highlight-color
  );
  --p-move-start-square-color: var(--move-start-dark-square-color);
  --p-move-start-outline-color: var(--move-start-dark-outline-color);
}

[data-square-color="light"] {
  --p-square-color: var(--light-square-color);
  --p-label-color: var(--dark-square-color);
  --p-hover-square-color: var(--hover-light-square-color);
  --p-move-eligible-highlight-color: var(
    --move-eligible-light-square-highlight-color
  );
  --p-move-start-square-color: var(--move-start-light-square-color);
  --p-move-start-outline-color: var(--move-start-light-outline-color);
}

/****************
 * Piece styles *
 ****************/

/* Always use absolute positioning for pieces and slotted
   content (custom SVGs, custom content etc) */
[data-square] .piece,
[data-square] .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

[data-square] .piece {
  z-index: 10;
}

[data-square] .piece.moving {
  z-index: 15;
}

[data-square] .piece.secondary {
  z-index: 5;
  opacity: var(--ghost-piece-opacity);
}

[data-square].move-start .piece:not(.secondary) {
  /* Ensure that the piece appears above most other elements in document. */
  z-index: var(--piece-drag-z-index);
}
