:root {
  --dark-square-green: #4c946a;
  --light-square-green: #e0ddcc;
}

.chessboard {
  aspect-ratio: 1 / 1;
}

.board rect.dark {
  fill: var(--dark-square-green);
}

.board rect.light {
  fill: var(--light-square-green);
}

.labels text {
  font-family: sans-serif;
  font-size: 0.7rem;
}

.labels text.light {
  stroke: var(--dark-square-green);
}

.labels text.dark {
  stroke: var(--light-square-green);
}
