name: Deploy docs
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "12.x"

      - name: Build main library
        run: |
          npm ci
          npm run build

      - name: Install dependencies & build
        run: |
          cd docs/
          npm ci
          npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./docs/_site
          github_token: ${{ secrets.GITHUB_TOKEN }}
